//.slick-arrow {
//  /* position: absolute; */
//  height: 100%;
//  background: none;
//  border: none;
//  cursor: pointer;
//}

#slider {
  //height: calc(100vh - 138px - 3rem);

  img {
    width: 100%;
    height: calc(100vh - 195px);
    object-fit: cover;
  }
}

