.slick-arrow {
  /* position: absolute; */
  height: 100%;
  background: none;
  border: none;
  cursor: pointer;
}

#slider {
  figure {
    max-height: calc(100vh - 200px);

    img {
      object-fit: cover;
    }
  }
}

