//
   Created by MI on 07.02.2018.
section.section#architecture
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles Architecture
        .columns.is-centered
            .column.is-12.is-8-desktop
                p.has-text-centered-tablet.
                    Gazetnyi lane – is a historical center of the capital of Russia with remaining XVIIth century architecture. There was a printing house of the Moscow University, where the newspaper "Moskovskie Vedomosti" was printed, a building near by - Menshikov manor an architectural monument of the late XVIII century, an object of cultural heritage of Federal importance. The office is located in the adjacent building of the architectural ensemble and has architectural treatment in the style of strict classicism.

