nav.navbar.is-primary.is-fixed-top: .container
    .navbar-brand
        a.navbar-item(href='/')
            img(src="./images/footer_logo.png", alt='', width='64', height='28')
        a.navbar-item(href='/') RUS
            //img.round(src="./images/russian.jpg", alt='Русский')
            //span &nbsp;RUS
        a.navbar-item(href='/en.html').is-active ENG
            //img.round(src="./images/union-jack.jpg", alt='English')
            //span &nbsp;ENG
        .navbar-burger.burger(data-target='navMenuColorprimary-example')
            span
            span
            span
    #navMenuColorprimary-example.navbar-menu
        .navbar-start
        .navbar-end
            a.navbar-item(href='#overview') About
            a.navbar-item(href='#place') Location
            a.navbar-item(href='#architecture') Architecture
            a.navbar-item(href='#contacts') Contacts
