//
   Created by MI on 07.02.2018.
section.section#overview
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles About
        .columns.is-centered: .column.is-12.is-8-desktop#overview-slider(style="margin: 0 2rem;")
            div: .columns.is-vcentered
                .column.is-6
                    figure.image
                        img(src="./images/overview1.jpg" alt="Loft Gazetnyi")
                .column.is-6
                    h3.title.is-5.is-uppercase Overview
                    p.
                        For those who prefer privacy and same time – the most convenient location in the city. We’re ready to present exclusive office space with own and separate entrance, 2 working places reception desk, 11 ready-to-use working places. Office is equipped with all needed furniture for work and rest with kitchen and comfortable meeting room with widescreen LED TV.
                    p: a(href="https://www.cian.ru/sale/flat/177005324/" target="_blank") It's possible ordering office and appartments in the same building
                        span.icon: i.fas.fa-external-link
            div: .columns.is-vcentered
                .column.is-6
                    h3.title.is-5.is-uppercase For whom
                    p.
                        The location is perfectly meets the needs of representative offices for big multinational corporations, will emphasize high level for small companies working with demanding clients and also will be cozy and convenient space for small private and family offices.
                .column.is-6
                    figure.image
                        img(src="./images/overview2.jpg" alt="Loft Gazetnyi")
            div: .columns.is-vcentered
                .column.is-6
                    figure.image
                        img(src="./images/overview3.jpg" alt="Loft Gazetnyi")
                .column.is-6
                    h3.title.is-5.is-uppercase Design
                    p.
                        Individual design is done in loft style with warm shades. Only natural materials were used. All rooms are equipped with exclusive furniture and handmade lamps. Lighting solutions are able to set up different options of light intensity.
            div: .columns.is-vcentered
                .column.is-6
                    h3.title.is-5.is-uppercase Infrastructure
                    p.
                        It is possible to use the parking lot inside the yard. All rooms has air conditioning systems installed, wi-fi access to the Internet, plugged-in Internet TV module, activated security and video surveillance systems.
                .column.is-6
                    figure.image
                        img(src="./images/overview4.jpg" alt="Loft Gazetnyi")

