//
   Created by MI on 07.02.2018.
section.section.is-info#place
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles Location
        .columns.is-vcentered.is-centered
            .column.is-3
                p.
                    The office is located in the very center of Moscow. In 500 meters there is a Kremlin, Federation Council, State and Moscow Dumas, Ministries and other governmental institutions. In a walking distance there are premium class fitness clubs – World Class and Hard Candy. 10 minutes will take a ride to a business center – the Moscow City.
                p.has-text-centered-mobile
                    a(href="https://goo.gl/maps/LEKHL5bh4i82" target="_blank" rel="noopener") View on map
                        span.icon: i.fas.fa-map-marker-alt
            .column.is-9.is-7-desktop
                figure.image
                    img(src="./images/map.png" alt="")


