//
   Created by MI on 07.02.2018.
section.section#architecture
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles Архитектура
        .columns.is-centered
            .column.is-12.is-8-desktop
                p.has-text-centered-tablet.
                    Газетный переулок - исторический центр столицы с сохраненной
                    архитектурой конца XVIII века. Здесь располагалась типография
                    Московского университета, где печаталась газета «Московские
                    ведомости», Соседнее здание от офиса - усадьба Меньшикова
                    памятник архитектуры конца XVIII века, объект культурного
                    наследия федерального значения. Офис располагается в прилегающем
                    здании архитектурного ансамбля и имеет архитектурную обработку в
                    стиле строгого классицизма.

