//
   Created by MI on 07.02.2018.
section.section#architecture
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles Архитектура
        .columns.is-centered
            .column.is-12.is-8-desktop
                p.has-text-centered-tablet.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

