//
   Created by MI on 27.02.2018.
.title.is-marginless.is-2.has-text-centered.is-uppercase.callback-button.js-modal-open.is-hidden-mobile: a(href="javascript:void(0);").has-angles.has-text-info Позвоните мне
.modal#callback
    .modal-background.js-modal-close
    .modal-content.box.is-info
        p.title.has-text-centered
            span.has-angles.has-text-primary Оставьте свой номер, и мы Вам перезвоним
        form#ajax-contact(action='/mailer.php' method="post")
            .field
                label.label Как Вас зовут?
                .control
                    input.input#name(type="text" name="name" placeholder="Антон")
            .field
                label.label Куда Вам перезвонить?
                .control
                    input.input#phone(type="tel" name="phone" placeholder="Номер в любом формате")
            .field
                .control
                    button.button.is-primary.is-large.is-fullwidth#submit-btn(type="submit") Перезвоните мне!
            .field(style="display:none;")
                .notification.is-success.is-error#form-messages
    button.modal-close.is-large.js-modal-close
