//
   Created by MI on 07.02.2018.
footer.footer#contacts
    .container
        .title.is-2.has-text-centered.is-uppercase: span.has-angles.has-text-info Контакты
        p.subtitle.is-4.has-text-centered.is-uppercase: a(href="tel:+79772954448").has-text-info +7 (977) 295-44-48
        p.subtitle.is-4.has-text-centered.is-uppercase: a(href="mailto:sales@gazetnyiloft.ru").has-text-info sales@gazetnyiloft.ru
        p.is-small.has-text-centered.has-text-white ©&nbsp;«ЛОФТ ГАЗЕТНЫЙ»,&nbsp;
            script.
                var mdate = new Date();
                document.write(mdate.getFullYear());
        img.footer-logo(src="./images/footer_logo.png" alt="Лофт Газетный" width='150')

