//
   Created by MI on 07.02.2018.
footer.footer
    .container
        .title.is-2.has-text-centered.is-uppercase: a(href="tel:+79772954448").has-angles.has-text-primary +7 (977) 295-44-48
        .title.is-2.has-text-centered.is-uppercase: a(href="mailto:sales@gazetnyiloft.ru").has-angles.has-text-primary sales@gazetnyiloft.ru
        p.has-text-centered.has-text-white ©&nbsp;ООО&nbsp;«ЛОФТ ГАЗЕТНЫЙ»,&nbsp;
            script.
                var mdate = new Date();
                document.write(mdate.getFullYear());
        img.footer-logo(src="./images/footer_logo.png" alt="Лофт Газетный" width='150')

