//
   Created by MI on 07.02.2018.
footer.footer
    .container
        p.has-text-centered.has-text-white ©&nbsp;ООО&nbsp;«ЛОФТ ГАЗЕТНЫЙ»,&nbsp;
            script.
                var mdate = new Date();
                document.write(mdate.getFullYear());
        img.footer-logo(src="./images/footer_logo.png" alt="Лофт Газетный" width='150px')

