//
   Created by MI on 07.02.2018.
section.section#overview
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles О проекте
        .columns.is-centered: .column.is-12.is-8-desktop#overview-slider
            div: .columns.is-vcentered
                .column.is-6
                    figure.image
                        img(src="./images/overview.jpg" alt="Loft Gazetniy")
                .column.is-6
                    h3.title.is-5.is-uppercase О проекте в начале
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            div: .columns.is-vcentered
                .column.is-6
                    h3.title.is-5.is-uppercase О проекте в начале
                    p.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .column.is-6
                    figure.image
                        img(src="./images/slides/slide1.jpg" alt="Loft Gazetniy")

