//
   Created by MI on 07.02.2018.
section.section.is-info#place
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles Местоположение
        .columns.is-vcentered.is-centered
            .column.is-3
                p.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a(href="") Посмотреть на карте
                    span.icon: i.fas.fa-map-marker-alt
            .column.is-9.is-7-desktop
                figure.image
                    img(src="./images/map.png" alt="")


