//
   Created by MI on 07.02.2018.
section.section.is-info#place
    .container
        h2.title.is-2.has-text-centered.is-uppercase.has-text-primary: span.has-angles Местоположение
        .columns.is-vcentered.is-centered
            .column.is-3
                p.
                    Офис расположен в самом центре Москвы. На расстоянии 500 метров находятся Кремль,
                    Совет Федераций, государственная и московская Думы, министерства и другие
                    административные учреждения. В шаговой доступности доступны фитнес-клубы премиум
                    класса – World Class и Hard Candy. 10 минут займет поездка до делового центра Москва-Сити.
                p.has-text-centered-mobile
                    a(href="https://goo.gl/maps/LEKHL5bh4i82" target="_blank") Посмотреть на карте
                        span.icon: i.fas.fa-map-marker-alt
            .column.is-9.is-7-desktop
                figure.image
                    img(src="./images/map.png" alt="")


