//
   Created by MI on 07.02.2018.
-var slides = [];
-slides.push(["./images/slides/slide1.jpg",""]);
-slides.push(["./images/slides/slide2.jpg",""]);
-slides.push(["./images/slides/slide3.jpg",""]);

header#slider
    for slide in slides
        img(src= slide[0], alt= slide[1])


