//
   Created by MI on 07.02.2018.
-var slides = []
-slides.push("https://placeholdit.co//i/1200x800?","")
-slides.push("https://placeholdit.co//i/1200x800?","")
-slides.push("https://placeholdit.co//i/1200x800?","")

header#slider
    figure.image
        img(src="./images/slide1.jpg", alt="")
    figure.image
        img(src="./images/slide1.jpg", alt="")

